<p id="notice"><%= notice %></p>

<%= link_to 'back', project_categories_path %>
<h1>Tasks</h1>
<%= link_to 'Back', project_categories_path %>
<div class="header">
  <h1>Task</h1>
  <h6>(<%= @category.name %> | <%= deadline(@category.id) %>)</h6>
</div>

<div class="main">
  <% @tasks.each do |task| %>
    <div class="card-task  ">
      <div class="top">
        <div class="deadline"><%= date_time(task.deadline) %></div>
        <div class="status">
          <%= link_to project_category_task_status_path(@project, @category, task) do %>
            <% if task.complete == false %>
              <h3><%= "✘" %></h3>
            <% else %>
              <h3><%= "✔"%></h3>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="middle <%= task.complete ? 'uncomplete' : "complete" %>"><span><%= task.name %></span></div>
      <div class="bottom">
        <ul>
          
          <li><%= link_to 'Edit', edit_project_category_task_path(@project, @category, task) %></li>
          <li><%= link_to 'Destroy', project_category_task_path(@project, @category, task), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </div>
  <% end %>
  <%= link_to new_project_category_task_path do %>
    <div class="card-create">
      <div class="top-design"><h3>New</h3></div>
      <div class="card-main">
        <div id="circle">
          <div id="circle2">
          </div>
        </div>      
      </div>
      <div class="bot-design"><h3>Category</h3></div>
    </div>
  <% end %>
</div>

 