<%# <%= link_to 'Back', projects_path %>

<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong><%= @project.name %>
</h1>

<table>
<caption>Category</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Complete</th>
      <th>Timelimit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.complete %></td>
        <td><%= category.timelimit %></td>
        <td><%= link_to 'Show', project_category_path(@project, category) %></td>
        <td><%= link_to 'Edit', edit_project_category_path(@project, category) %></td>
        <td><%= link_to 'Destroy', project_category_path(@project, category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Category", new_project_category_path(@project) %>



 %>
