<p id="notice"><%= notice %></p>


<div class="head">
  <div class="back">
    <%= link_to projects_path do %>
      <button><i class="fas fa-arrow-left"></i> Back</button>
    <% end %>
  </div>
  <div class="section-header">
    <h1><%= @project.name.upcase %></h1>
    <h6>( All Category | <%= project_deadline(@project.id) %>)</h6>
  </div>
  <div class="create">
    <%= link_to new_project_category_path(@project) do %>
      <button><i class="fas fa-tasks"></i> New Category</button>
    <% end %>
  </div>
</div>








<div class="main">
 <% @categories.each do |category| %>
  <div class="card-category">
    <div class="left">
      <h1 class="title"><%= category.name %></h1>
    </div>
    <div class="right">
      <div class="deadline"><p><%= category_deadline(@project.id, category.id)%></p></div>
      <div class="progress">
        <div class="progress-header">
          <h1><%= cat_progress(category.progress) %></h1>
          <h6><%= total_task_complete(category.id)%> of <%= total_task(category.id)%> </h6>
        </div>
      </div>
      <div class="actions">
        <ul>
          <li><%= link_to 'View Task', project_category_tasks_path(@project, category) %></li>
          <li>
            <%= link_to edit_project_category_path(@project, category) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li>
            <%= link_to project_category_path(@project, category), method: :delete, data: { confirm: 'Are you sure?' }  do%>
              <i class="fas fa-trash"></i>
            <% end %>     
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

</div>




